<section>
	<h3 id="#about-me">Acerca de Mí</h3>
	
	<div class="face-lockup">
		
		<div class="face-img"></div>
		
		<div class="icon-music">{% include icons/icon-music.html %}</div>
		<div class="icon-mortar">{% include icons/icon-mortar.html %}</div>
		

	</div>
	
	<div class="about">
		<p>Oscar Flores es un recién egresado de la carrera de Ingeniería en Producción Musical del Tecnológico de Monterrey. Ahí desarrolló ampliamente las habilidades de grabación, mezcla y masterización de audio, concluyendo sus estudios con un proyecto de producción del álbum debut de Pipe Saray, compositor y cantautor colombiano próximo a iniciar su carrera profesional en asociación con una disquera mexicana. También trabajó en la sonorización del lunario del Auditorio Nacional para diversos conciertos.
	
		</p>
	</div>
	
	<div class="about">
	<p>Oscar es un apasionado jugador de hockey sobre hielo y ha sido seleccionado nacional desde los 15 años, fue ganador de campeonatos mundiales y obtuvo el reconocimiento de MVP (jugador más valioso del equipo) de la Federación Internacional de Hockey sobre Hielo (IIHF). Es voluntario en TECHO, una organización dedicada a combatir la pobreza en donde forma parte del programa de educación y apoya en las construcciones de hogares provisionales para familias de escasos recursos.</p>
	</div>
	
	
	<div class="skill-lockup">
	
		<div class="skill-unit">
		
			<div class="skill-label">Comunicación</div>
			<div class="skill-icons skill-10">
			
				<span></span><span></span><span></span><span></span><span></span><span>
				</span><span></span><span></span><span></span><span></span>
			
			</div>
				
		</div>

<div class="skill-unit">

	<div class="skill-label">Aprendizaje</div>
	<div class="skill-icons skill-9">
	
		<span></span><span></span><span></span><span></span><span></span><span>
		</span><span></span><span></span><span></span><span></span>
	
	</div>
		
</div>

<div class="skill-unit">

	<div class="skill-label">Planeación</div>
	<div class="skill-icons skill-8">
	
		<span></span><span></span><span></span><span></span><span></span><span>
		</span><span></span><span></span><span></span><span></span>
	
	</div>
		
</div>

<div class="skill-unit">

	<div class="skill-label">Programación</div>
	<div class="skill-icons skill-7">
	
		<span></span><span></span><span></span><span></span><span></span><span>
		</span><span></span><span></span><span></span><span></span>
	
	</div>
		
</div>

<div class="skill-unit">

	<div class="skill-label">DAW</div>
	<div class="skill-icons skill-10">
	
		<span></span><span></span><span></span><span></span><span></span><span>
		</span><span></span><span></span><span></span><span></span>
	
	</div>
		
</div>

<div class="skill-unit">

	<div class="skill-label">Grabación</div>
	<div class="skill-icons skill-9">
	
		<span></span><span></span><span></span><span></span><span></span><span>
		</span><span></span><span></span><span></span><span></span>
	
	</div>
		
</div>

<div class="skill-unit">

	<div class="skill-label">Edición</div>
	<div class="skill-icons skill-10">
	
		<span></span><span></span><span></span><span></span><span></span><span>
		</span><span></span><span></span><span></span><span></span>
	
	</div>
		
</div>

<div class="skill-unit">


	<div class="skill-label">Mezcla</div>
	<div class="skill-icons skill-8">
	
		<span></span><span></span><span></span><span></span><span></span><span>
		</span><span></span><span></span><span></span><span></span>
	
	</div>
		
</div>
	
	
	</div>
	





</section>