<section>
	<h3 id="#exp">Experiencia</h3>
	
	<div class="about">
		<p>Oscar trabajó en SetMine, una startup que permite a sus usuarios escuchar todos los sets de música electrónica de todos los festivales, donde desarrolló la estrategia nacional para el crecimiento de la empresa. También estuvo a cargo de reclutar talento local para acelerar el crecimiento del label que la empresa tiene planeado en el futuro.
		</p>
		<div class="about">
			<p>Hasta la fecha es columnista invitado de Zona Movilidad, un importante blog de tecnología español que se especializa en temas de sociedad de la información y las tecnologías más relevantes para el futuro.
			</p>
			
			<div class="about">
				<p>También fue parte de un equipo que trabajó para llevar a cabo un concierto en el lago mayor de Chapultepec, donde tuvo la tarea de crear una aplicación móvil que envía las coordenadas geográficas del usuario a una base de datos para después ser utilizadas como parámetros de la síntesis de sonido.
				</p>
	
</section>